* {
    box-sizing: border-box;
}

:root {
    --primary-color: #fffcf4;
    --secondary-color: #171100;
    --font-color: #5f5b53;
    --button-bg: #ffb900;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

/* General */

a {
    text-decoration: none;
}

.content {
    width: 1170px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
#header {
    background-color: var(--primary-color);
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}

#header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

#header .navbar .navbar-group {
    display: flex;
    align-items: center;
}

#header .list {
    display: flex;
    margin-right: 49px;
}

#header .list li {
    --padding-left: 21px;
}

#header .list .link {
    padding: 9px var(--padding-left);
    color: var(--font-color);
    font-weight: 400;
}

#header .list li:first-child .link {
    position: relative;
    padding-bottom: 7px;
    color: var(--secondary-color);
    font-weight: 600;
}

#header .list li:first-child .link::after {
    content: "";
    position: absolute;
    left: var(--padding-left);
    bottom: 0;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--secondary-color);
}

#header .list .link:hover {
    color: var(--secondary-color);
    font-weight: 600;
}

#header .navbar-group .btn-signup {
    min-width: 144px;
    font-family: "Poppins", sans-serif;
    padding: 11px 41px;
    border-radius: 25px;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 600;
    background-color: var(--secondary-color);
}

#header .navbar-group .btn-signup:hover {
    cursor: pointer;
    background-color: var(--button-bg);
    border-color: transparent;
}

/*  main  */
.hero-wrap {
    padding: 54px 0 65px;
    min-height: 100vh;
    background-color: var(--primary-color);
}

.hero-wrap .row {
    display: flex;
}

/* Hero */
.hero-wrap .hero-image {
    position: relative;
    width: 49%;
}

.hero-wrap .hero-image .image {
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}

.hero-wrap .course {
    position: absolute;
    bottom: 48px;
    right: 0;
    width: 270px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-wrap .course .course-content {
    padding: 28px 24px;
}

.hero-wrap .course-content .course-item {
    display: flex;
    align-items: center;
}

.hero-wrap .course-content .course-item + .course-item {
    margin-top: 22px;
}

.hero-wrap .course-item .info-course {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.hero-wrap .info-course .number-course {
    color: var(--font-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.hero-wrap .info-course .course-name {
    margin-top: 10px;
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.hero-wrap .course-item .circle-bg {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: var(--circle-bg, none);
}

.hero-wrap .circle-bg .image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
}

.hero-wrap .hero-info {
    width: 51%;
    padding: 64px 0 63px 130px;
}

.hero-wrap .hero-info .title {
    color: var(--secondary-color);
    font-family: "Sen", sans-serif;
    font-size: 5.8rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.hero-wrap .hero-info .desc {
    margin-top: 22px;
    color: var(--font-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7;
}

.hero-wrap .hero-info .btn-action {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero-wrap .btn-action .btn-see-course {
    min-width: 180px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 17px 33px;
    background-color: var(--secondary-color);
    border-color: transparent;
    border-radius: 32px;
}

.hero-wrap .btn-action .btn-see-course:hover {
    cursor: pointer;
    background-color: var(--button-bg);
}

.hero-wrap .btn-action .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
}

.hero-wrap .watch-video .btn-watch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: transparent;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.hero-wrap .watch-video .btn-watch::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--button-bg);
    clip-path: polygon(0 0, 0 100%, 100% 50%);
}

.hero-wrap .watch-video .btn-watch:hover {
    cursor: pointer;
}
.hero-wrap .watch-video .title {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 14px;
}

.hero-wrap .hero-info .recent-engagement {
    margin-top: 48px;
}

.hero-wrap .recent-engagement .engagement {
    color: var(--font-color);
    font-size: 1.8rem;
    font-weight: 400;
}

.hero-wrap .recent-engagement .info-quantity {
    display: flex;
    gap: 28px;
    margin-top: 21px;
}

.hero-wrap .quantity .value {
    color: var(--secondary-color);
    font-family: "Sen", sans-serif;
    font-size: 4.4rem;
    font-weight: 700;
}

.hero-wrap .quantity .object {
    color: var(--font-color);
    font-size: 1.8rem;
    font-weight: 400;
    margin-left: 10px;
}

/* popular course */
.popular-course {
    padding: 200px 0 200px;
}

.popular-course .sub-title-course {
    color: var(--secondary-color);
    font-family: "Sen", sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.02em;
}

.popular-course .row {
    display: flex;
    justify-content: space-between;
}

.popular-course .row .desc-course {
    width: 39%;
    margin-top: 16px;
    color: var(--font-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7;
}

.popular-course .row .arrow {
    position: relative;
    top: -2px;
    display: flex;
    gap: 15px;
}

.popular-course .arrow .arrow-item {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid var(--button-bg);
}

.popular-course .arrow-item .image {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--button-bg);
}

.popular-course .arrow-item:first-child:hover,
.popular-course .arrow-item:last-child:hover {
    border-color: transparent;
    background-color: var(--button-bg);
}

.popular-course .arrow-item:first-child:hover .image,
.popular-course .arrow-item:last-child:hover .image {
    color: #fff;
}

.popular-course .list-items {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}
.popular-course .list-items .link-item {
    flex: 1;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.popular-course .list-items .link-item:hover {
    cursor: pointer;
    border: none;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular-course .item .image {
    width: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular-course .item .body {
    padding: 23px 22px 22px;
}

.popular-course .body .sub-title {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.7;
}

.popular-course .body .info-rate {
    display: flex;
    align-items: center;
    gap: 6px;
}

.popular-course .info-rate .rate {
    color: #fea31b;
    font-weight: 400;
}

.popular-course .body .desc {
    margin-top: 10px;
    color: var(--font-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.popular-course .body .row-book {
    margin-top: 15px;
}

.popular-course .row-book .price {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.popular-course .row-book .btn-book {
    min-width: 118px;
    padding: 12px 24px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: var(--secondary-color);
    border-radius: 25px;
    border-color: transparent;
}

.popular-course .row-book .btn-book:hover {
    background-color: var(--button-bg);
}

.feedback {
    padding: 96px 0;
    background-color: #2e2100;
}

.feedback .row {
    display: flex;
    justify-content: space-between;
}

.feedback .info-user .image {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.feedback .info-user .name {
    margin-top: 20px;
    color: #f7f7f7;
    font-family: "Sen", sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
}

.feedback .info-user .career {
    margin-top: 20px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9;
}

.feedback .info-user .step {
    display: flex;
    gap: 5px;
}

.feedback .step .icon-step {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-top: 30px;
    background-color: var(--bg-step, none);
}

.feedback .info-feedback {
    width: 66%;
}

.feedback .info-feedback .desc {
    width: 96%;
    max-width: 100%;
    margin-left: auto;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.6;
}

/*  advertise */
.advertise {
    padding: 200px 0;
}

.advertise .row {
    display: flex;
}

.advertise .row .advertise-image {
    display: flex;
    gap: 30px;
    width: 49%;
}

.advertise .advertise-image .image {
    width: 270px;
    height: 405px;
    border-radius: 16px;
    object-fit: cover;
}

.advertise .advertise-image .image:last-child {
    position: relative;
    top: -34px;
}

.advertise .row .advertise-body {
    padding: 24px 0 58px 130px;
}

.advertise .advertise-body .sub-title {
    color: var(--secondary-color);
    font-family: "Sen", sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.02em;
}

.advertise .advertise-body .desc {
    margin-top: 16px;
    color: var(--font-color);
    font-weight: 400;
    line-height: 1.75;
}

.advertise .advertise-body .btn-signup {
    min-width: 137px;
    margin-top: 32px;
    color: #fff;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border-radius: 26px;
    padding: 11px 37px;
    background-color: var(--secondary-color);
}

.advertise .advertise-body .btn-signup:hover {
    cursor: pointer;
    border-color: transparent;
    background-color: var(--button-bg);
}

.advertise .row-2 {
    justify-content: space-between;
    margin-top: 200px;
}

.advertise .row-2 .body {
    padding: 71px 0;
    width: 49%;
}

.advertise .row-2 .body .sub-title {
    color: var(--secondary-color);
    font-family: "Sen", sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.02em;
}

.advertise .row-2 .body .desc {
    margin-top: 16px;
    color: var(--font-color);
    font-weight: 400;
    line-height: 1.75;
}

.advertise .body .btn-join {
    margin-top: 32px;
    min-width: 137px;
    padding: 12px 32px 10px 31px;
    border-radius: 26px;
    background: var(--secondary-color);
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}

.advertise .body .btn-join:hover {
    background-color: var(--button-bg);
    border-color: transparent;
}

.advertise .row-2 .image {
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
}

/* blog */
.blog {
    padding: 96px 0 95px;
    background-color: var(--primary-color);
}

.blog .sub-title-blog {
    text-align: center;
    color: #130606;
    font-family: "Sen", sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.02em;
}

.blog .desc-blog {
    width: 39%;
    margin: auto;
    text-align: center;
    margin-top: 16px;
    color: #696262;
    font-weight: 400;
    line-height: 1.75;
}

.blog .list-blog {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.blog .list-blog .link-blog {
    flex: 1;
    border-radius: 16px;
    background: #fff;
}

.blog .list-blog .link-blog:hover {
    cursor: pointer;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .blog-item .image {
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}

.blog .blog-item .body {
    padding: 20px 20px 28px 20px;
}

.blog .body .sub-title {
    margin-top: 25px;
    color: var(--secondary-color);
    font-weight: 600;
    line-height: 1.75;
}

.blog .body .desc {
    position: relative;
    color: var(--font-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9;
    margin-left: var(--margin-left, none);
}

.blog .body .desc::before {
    content: "";
    position: absolute;
    left: calc(var(--margin-left) * -1);
    top: 40%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--button-bg);
}

.blog .body .desc::after {
    position: absolute;
    left: calc(var(--margin-left) * -1);
    bottom: -12px;
    display: inline-block;
    content: "";
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blog .body .btn-read-more {
    margin-top: 12px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 12px 21px;
    background-color: var(--secondary-color);
    border-radius: 25px;
}

.blog .body .btn-read-more:hover {
    cursor: pointer;
    border-color: transparent;
    background-color: var(--button-bg);
}

.blog .step {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 37px;
}

.blog .step .icon-step {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-top: 37px;
    background-color: var(--bg-step, none);
}

/*#footer */
#footer {
    padding: 96px 0 28px;
    background-color: #2e2100;
}

#footer .list-info {
    display: flex;
    gap: 130px;
}

#footer .list-info > li:first-child {
    width: 34%;
}

#footer .list-info > li:last-child {
    width: 30%;
}

#footer .list-info > li:first-child .sub-title {
    color: #fff;
    font-family: "Sen", sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
}

#footer .list-info > li:first-child .marker {
    color: #ffb900;
    font-size: 2.4rem;
    font-weight: 700;
}

#footer .list-info > li:first-child .desc,
.social {
    margin-top: 18px;
}

#footer .list-info .social .link-social + .link-social {
    margin-left: 12px;
}

#footer .list-info > li:not(:first-child) .sub-title {
    color: #fff;
    font-weight: 600;
}

#footer .list-info .desc,
#footer .list-info .list-sub-info li, #footer .link {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9;
}

#footer .list-info .link:hover {
    text-decoration: underline;
}

#footer .list-info > li:not(:last-child) .link {
    white-space: nowrap;
}

#footer .list-info > li .separate {
    margin-top: 14px;
    width: 130px;
    height: 1px;
    background: #59554b;
}

#footer .list-info .list-sub-info {
    padding-top: 17px;
}

#footer .list-info .list-sub-info li {
    margin-top: 12px;
}

#footer .list-info > li:last-child .location,
.email,
.phone {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
}

#footer .separate {
    height: 1px;
    background: #59554b;
    margin-top: 38px;
}

#footer .copyright {
    margin-top: 29px;
    color: #807d74;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
}
