* {
    box-sizing: border-box;
}

:root {
    --primary-color: #fffcf4;
    --secondary-color: #171100;
    --primary-font-family: "Poppins", sans-serif;
    --secondary-font-family: "Sen", sans-serif;
    --color: #5f5b53;
    --font-size: 1.6rem;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--primary-font-family);
    font-size: var(--font-size);
}

/* General */

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

a {
    text-decoration: none;
}

button {
    border-color: transparent;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    color: #fff;
    background-color: var(--secondary-color);
    min-width: var(--button-min-width, none);
    padding: var(--button-padding-top, none) var(--button-padding-right, none)
        var(--button-padding-bottom, none) var(--button-padding-left, none);
    font-family: var(--button-font-family, none);
    border-radius: var(--button-border-radius, none);
    font-size: var(--button-font-size, none);
    font-weight: var(--button-font-weight, none);
}

a.btn {
    border-width: 2px;
    border-style: solid;
}

/* Header */
#header {
    background-color: var(--primary-color);
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}

#header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

#header .navbar .navbar-group {
    display: flex;
    align-items: center;
}

#header .navbar .menu {
    display: flex;
    margin-right: 49px;
}

#header .menu li {
    --padding-left-right: 21px;
}

#header .menu .active-link,
#header .menu .link {
    display: inline-block;
    padding: 9px var(--padding-left-right);
    color: var(--color);
    font-weight: 400;
}

#header .menu .active-link {
    position: relative;
    color: var(--secondary-color);
    font-weight: 600;
}

#header .menu .active-link::after {
    content: "";
    left: var(--paddi-left-right);
    bottom: 2px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--secondary-color);
}

#header .menu .link:hover {
    color: var(--secondary-color);
    font-weight: 600;
}

#header .menu .link::before {
    content: attr(title);
    display: block;
    height: 0;
    font-weight: 600;
    overflow: hidden;
    visibility: hidden;
}

#header .navbar-group .btn-signup {
    --button-min-width: 144px;
    --button-padding-top: 11px;
    --button-padding-bottom: 11px;
    --button-padding-left: 41px;
    --button-padding-right: 41px;
    --button-border-radius: 25px;
    --button-font-family: var(--primary-font-family);
    --button-font-size: var(--font-size);
    --button-font-weight: 600;
}

#header .navbar-group .btn-signup:hover {
    cursor: pointer;
    background-color: #ffb900;
}

/*  main content  */
.hero-wrap {
    padding: 54px 0 65px;
    background-color: var(--primary-color);
}

.hero-wrap .row {
    display: flex;
}

/* Hero */
.hero-wrap .hero-image {
    position: relative;
    flex-shrink: 0;
    width: 49%;
}

.hero-wrap .hero-image .image {
    display: block;
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}

.hero-wrap .course {
    position: absolute;
    bottom: 48px;
    right: 0;
    width: 270px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-wrap .course .course-content {
    padding: 24px 24px;
}

.hero-wrap .course-content .course-item {
    display: flex;
    align-items: center;
}

.hero-wrap .course-content .course-item + .course-item {
    margin-top: 22px;
}

.hero-wrap .course-item .info-course {
    padding-left: 16px;
}

.hero-wrap .info-course .number-course {
    color: var(--color);
    font-size: 1.4rem;
    font-weight: 400;
}

.hero-wrap .info-course .course-name {
    margin-top: 10px;
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.hero-wrap .course-item .circle-bg {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: var(--circle-bg, none);
}

.hero-wrap .circle-bg .image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
}

.hero-wrap .hero-info {
    padding: 64px 0 63px 130px;
}

.hero-wrap .hero-info > .title {
    color: var(--secondary-color);
    font-family: var(--secondary-font-family);
    font-size: 5.8rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.hero-wrap .hero-info .desc {
    margin-top: 22px;
    color: var(--color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7;
}

.hero-wrap .hero-info .btn-action {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero-wrap .btn-action .btn-see-course {
    --button-min-width: 180px;
    --button-font-family: var(--primary-font-family);
    --button-font-size: 1.8rem;
    --button-font-weight: 600;
    --button-padding-top: 17px;
    --button-padding-bottom: 17px;
    --button-padding-left: 33px;
    --button-padding-right: 33px;
    --button-border-radius: 32px;
    line-height: 1.5;
}

.hero-wrap .btn-action .btn-see-course:hover {
    background-color: #ffb900;
}

.hero-wrap .btn-action .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
}

.hero-wrap .watch-video .btn-watch {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
}

.hero-wrap .watch-video .btn-watch::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffb900;
    clip-path: polygon(0 0, 0 100%, 100% 50%);
}

.hero-wrap .watch-video .btn-watch:hover {
    cursor: pointer;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}
.hero-wrap .watch-video > .title {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 14px;
}

.hero-wrap .hero-info .info-recent-engagement {
    margin-top: 48px;
}

.hero-wrap .info-recent-engagement .desc-quantity,
.hero-wrap .info-recent-engagement .desc-recent {
    margin-top: 0;
}

.hero-wrap .info-recent-engagement .desc-quantity {
    margin-top: 8px;
}

.hero-wrap .desc-quantity .quantity + .quantity {
    margin-left: 28px;
}

.hero-wrap .desc-quantity .quantity {
    color: var(--secondary-color);
    font-family: var(--secondary-font-family);
    font-size: 4.4rem;
    font-weight: 700;
    margin-right: 10px;
    line-height: 1.2;
}

/* popular course */
.popular-course {
    padding: 200px 0 200px;
}

.popular-course .sub-title-course {
    color: var(--secondary-color);
    font-family: var(--secondary-font-family);
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.02em;
}

.popular-course .row {
    display: flex;
    justify-content: space-between;
}

.popular-course .row .desc-course {
    width: 39%;
    margin-top: 16px;
    color: var(--color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7;
}

.popular-course .row .chevron {
    position: relative;
    top: -2px;
    font-size: 0;
}

.popular-course .chevron .chevron-icon {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ffb900;
}

.popular-course .chevron-icon + .chevron-icon {
    margin-left: 18px;
}

.popular-course .chevron-icon .image {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffb900;
}

.popular-course .chevron-icon:hover {
    cursor: pointer;
    border-color: transparent;
    background-color: #ffb900;
}

.popular-course .chevron-icon:hover .image {
    color: #fff;
}

.popular-course .list-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 55px;
}
.popular-course .list-items .link-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.popular-course .list-items .link-item:hover {
    cursor: pointer;
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular-course .link-item .item {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.popular-course .item .item-image {
    width: 100%;
    height: 278px;
}

.popular-course .item-image .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular-course .item .body {
    flex: 1;
    display: grid;
    grid-template-areas:
        "info-title info-title rate"
        "info-desc info-desc info-desc"
        "info-price info-price info-price-book";
    grid-template-rows: auto 1fr auto;
    padding: 16px 22px 22px;
}

.popular-course .body .sub-title {
    grid-area: info-title;
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.7;
}

.popular-course .body .info-rate {
    grid-area: rate;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    column-gap: 6px;
    font-size: 0;
}

.popular-course .info-rate .rate {
    font-size: 1.6rem;
    color: #fea31b;
    font-weight: 400;
}

.popular-course .body .desc {
    align-self: flex-end;
    grid-area: info-desc;
    margin-top: 6px;
    color: var(--color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.popular-course .body .price {
    grid-area: info-price;
    margin-top: 22px;
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.popular-course .body .btn-book {
    grid-area: info-price-book;
    justify-self: flex-end;
    margin-top: 12px;
    --button-min-width: 118px;
    --button-padding-top: 12px;
    --button-padding-bottom: 12px;
    --button-padding-left: 24px;
    --button-padding-right: 24px;
    --button-font-family: var(--primary-font-family);
    --button-font-size: 1.4rem;
    --button-font-weight: 600;
    --button-border-radius: 25px;
}

.popular-course .body .btn-book:hover {
    cursor: pointer;
    background-color: #ffb900;
}

.feedback {
    padding: 96px 0;
    background-color: #2e2100;
}

.feedback .feedback-list {
    display: flex;
    overflow-x: hidden;
}

.feedback .feedback-list .feedback-item {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
}

.feedback .info-user .image {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .info-user .name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: var(--secondary-font-family);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.4;
}

.feedback .info-user .career {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9;
}

.feedback .info-user .step {
    display: flex;
    column-gap: 6px;
    margin-top: 28px;
}

.feedback .step .icon-step,
.feedback .step .icon-step-active {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #634700;
    cursor: pointer;
}

.feedback .step .icon-step-active {
    cursor: default;
    background-color: #ffb900;
}

.feedback .feedback-item .info-feedback {
    flex-shrink: 0;
    width: 66%;
}

.feedback .info-feedback .desc {
    width: 96%;
    max-width: 100%;
    margin-left: auto;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
}

/*  advertise */
.advertise {
    padding: 200px 0;
}

.advertise .row {
    display: flex;
}

.advertise .row .advertise-image {
    display: flex;
    column-gap: 30px;
    width: 49%;
}

.advertise .advertise-image .image {
    width: 270px;
    height: 405px;
    border-radius: 16px;
    object-fit: cover;
}

.advertise .advertise-image .image:last-child {
    position: relative;
    top: -34px;
}

.advertise .row .advertise-body {
    padding: 24px 0 58px 130px;
}

.advertise .advertise-body .sub-title {
    color: var(--secondary-color);
    font-family: var(--secondary-font-family);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.02em;
}

.advertise .advertise-body .desc {
    margin-top: 16px;
    color: var(--color);
    font-weight: 400;
    line-height: 1.75;
}

.advertise .advertise-body .btn-signup {
    --button-min-width: 137px;
    --button-padding-top: 11px;
    --button-padding-bottom: 11px;
    --button-padding-left: 37px;
    --button-padding-right: 37px;
    --button-font-family: var(--primary-font-family);
    --button-font-size: 1.6rem;
    --button-font-weight: 600;
    --button-border-radius: 26px;
    margin-top: 32px;
}

.advertise .advertise-body .btn-signup:hover {
    cursor: pointer;
    background-color: #ffb900;
}

.advertise .row-2 {
    justify-content: space-between;
    margin-top: 200px;
}

.advertise .row-2 .body {
    padding: 71px 0;
    width: 49%;
}

.advertise .row-2 .body .sub-title {
    color: var(--secondary-color);
    font-family: var(--secondary-font-family);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.02em;
}

.advertise .row-2 .body .desc {
    margin-top: 16px;
    color: var(--color);
    font-weight: 400;
    line-height: 1.75;
}

.advertise .body .btn-join {
    display: inline-block;
    margin-top: 32px;
    line-height: 1.5;
    --button-min-width: 137px;
    --button-padding-top: 12px;
    --button-padding-bottom: 10px;
    --button-padding-left: 31px;
    --button-padding-right: 32px;
    --button-font-family: var(--primary-font-family);
    --button-font-size: 1.6rem;
    --button-font-weight: 600;
    --button-border-radius: 26px;
}

.advertise .body .btn-join:hover {
    background-color: #ffb900;
}

.advertise .row-2 .image {
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
}

/* blog */
.blog {
    padding: 96px 0;
    background-color: var(--primary-color);
}

.blog .sub-title-blog {
    text-align: center;
    color: #130606;
    font-family: var(--secondary-font-family);
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.02em;
}

.blog .desc-blog {
    width: 39%;
    margin: 16px auto 0;
    text-align: center;
    color: #696262;
    font-weight: 400;
    line-height: 1.75;
}

.blog .list-blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 55px;
}

.blog .list-blog .link-blog {
    border-radius: 16px;
    background: #fff;
}

.blog .list-blog .link-blog:hover {
    cursor: pointer;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .blog-item .image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog .blog-item .body {
    padding: 20px 20px 28px 20px;
}

.blog .body .desc {
    --width-before-element: 6px;
    display: inline-block;
    position: relative;
    color: var(--color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9;
    padding-left: calc(var(--width-before-element) + 4px);
}

.blog .body .desc::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: var(--width-before-element);
    height: 6px;
    border-radius: 50%;
    background-color: #ffb900;
}

.blog .body .desc::after {
    content: "";
    position: absolute;
    left: 0;
    right: -27px;
    bottom: -12px;
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blog .body .sub-title {
    margin-top: 24px;
    color: var(--secondary-color);
    font-weight: 600;
    line-height: 1.75;
}

.blog .body .btn-read-more {
    --button-min-width: 118px;
    --button-padding-top: 12px;
    --button-padding-bottom: 12px;
    --button-padding-left: 21px;
    --button-padding-right: 21px;
    --button-font-family: var(--primary-font-family);
    --button-font-size: 1.4rem;
    --button-font-weight: 600;
    --button-border-radius: 25px;
    margin-top: 12px;
}

.blog .body .btn-read-more:hover {
    cursor: pointer;
    background-color: #ffb900;
}

.blog .step {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-top: 38px;
}

.blog .step .icon-step {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #634700;
    cursor: pointer;
}

.blog .step .acitive {
    cursor: default;
    background-color: #ffb900;
}

/*#footer */
#footer {
    padding: 96px 0 28px;
    background-color: #2e2100;
}

#footer .list-info {
    display: grid;
    grid-template-columns: 1fr 0.46fr 0.49fr 0.82fr;
    column-gap: 130px;
}

#footer .list-info > li:first-child {
   width: 95%;
}

#footer .list-info > li:first-child .sub-title a {
    color: #fff;
    font-family: var(--secondary-font-family);
    font-size: 2.4rem;
    font-weight: 700;
}

#footer .list-info > li:first-child a .marker {
    color: #ffb900;
    font-size: 2.4rem;
    font-weight: 700;
}

#footer .list-info > li:first-child .desc,
#footer .list-info > li:first-child .social {
    margin-top: 18px;
}

#footer .list-info > li:first-child .social {
    font-size: 0;
}

#footer .list-info .social .link-social + .link-social {
    margin-left: 18px;
}

#footer .list-info > li:not(:first-child) .sub-title {
    color: #fff;
    font-weight: 600;
}

#footer .list-info .desc,
#footer .list-info .list-sub-info li,
#footer .link {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9;
}

#footer .list-info .link:hover {
    text-decoration: underline;
}

#footer .list-info > li:not(:last-child) .link {
    white-space: nowrap;
}

#footer .list-info > li .separate {
    margin-top: 14px;
    width: 130px;
    height: 1px;
    background: #59554b;
}

#footer .list-info .list-sub-info {
    padding-top: 17px;
}

#footer .list-info .list-sub-info li {
    margin-top: 11px;
}

#footer .list-info > li:last-child .location,
.email,
.phone {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
}

#footer .separate {
    height: 1px;
    background: #59554b;
    margin-top: 38px;
}

#footer .copyright {
    margin-top: 29px;
    color: #807d74;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
}
